<!doctype HTML>

<html>

<head>
    <title> AskMate Answer comments </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='comment.css') }}">
</head>

<body>
    <div class="answer-title">
        <h5> AskMate answer comments </h5>
    </div>
    <br>
    <div class="answer-with-id">
        <h4> {{ answer }} </h4>
    </div>
    <div class="table-fill">
        <table>
            <thead class="answer-head" id="answer-head">
                <tr>
                    <th>Comments</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="answer-body">
                {% for item in comment %}
                <tr>
                    <td> {{ item[3] }} </td>
                    <td>
                        <a href="/answer/{{ answer_id }}/comments/{{ item[0] }}/delete">
                            <img src="https://cdn4.iconfinder.com/data/icons/linecon/512/delete-512.png" width="30" height="30">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <form action='/answer/{{ answer_id }}/new-comment' , method="GET">
        <input id="styled_button" type="submit" value="Add a comment">
    </form>
    <p>
        <a href="/"><input id="styled_button" type="submit" value="Home"></a>
    </p>
</body>

</html>