<!doctype HTML>

<html>

    <head>
    <title> AskMate Answers </title>
    </head>

    <body>
        <h2 allign="middle"> AskMate Answers </h2>
        <form action= "/question/<question_id>" method="GET"></form>
        <br>
        {% for item in table %}
            <h3 align="middle"> {{ item[2] }}</h3>
            <h4 align="middle"> {{ item[3] }}</h4>
        {% endfor %}

        <table>
            
            <thead>
                <tr>
                    <th>Answers</th>
                </tr>
            </thead>
            <tbody> 
                {% for item in table %}
                    <tr>
                        <td> {{ item[3] }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action= '/question/{{ question_id }}/new-answer', method="GET">
            <input type = "submit" value="I can answer mate">
        </form>
    </body>    

</html>