<!doctype HTML>

<html>

    <head>
    <title> AskMate Answers </title>
    </head>

    <body>
        { % if question_id % }
        <h2 allign="middle"> AskMate Answers </h2>
        <form action= "/question/question_id" method="GET"></form>
        <br>
        <table>
            <style> 
                table { 
                        border-collapse: collapse;
                        border: 1px black;
                        font: 12px sans-serif;
                        width: 800px
                }
                td {
                    border: 1px black;
                    padding: 9px
                }
            </style>

        { % else % } 
        <form action="/question/<question_id>/answer" method="POST">
            <label> AskMate Answers </label>
            <p><textarea="I can answer" rows=7 cols="70"></textarea></p>
            <p><input type="Send Answer" value="send"></p>
        </form>
        { % endif % }
    </body>    

</html>