<!doctype HTML>

<html>

<head>
    <title> AskMate Answers </title>
</head>

<body>
    <h2 allign="middle"> AskMate Answers </h2>
    <form action="/question/<question_id>" method="GET"></form>
    <br>
    <br>
    <h3 align="middle">{{ guestion_title }}</h3>
    <h4 align="middle">{{ question_msg }}</h4>

    <br>

    <table>
        <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 16px sans-serif;
            }
            
            td {
                border: 1px black solid;
                padding: 8px;
            }
        </style>
        <thead>
            <tr>
                <th>Answers</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if question_id %}
                <td> {{ answer }} </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <form action='/question/{{ question_id }}/new-answer' , method="GET">
        <input type="submit" value="I can answer mate">
    </form>
</body>

</html>