<!DOCTYPE html>
<html>

<head>
    <title>AskMate - New Question</title>
    <link rel='stylesheet' type='text/css' href='textareas.css'>
</head>

<body>
    <h2> AskMate Your Question:</h2>
    <form action="/new_question" method="POST">
    <div class='input_areas'>
        <input label='Question Title' id='styled_title' type="text" name="title"></p>
        <textarea label='My Question' id='styled_textarea' name="new_question"></textarea></p>
    </div>
        <p><input id='styled_button' type="submit" value="Send Question"></p>
    </form>
</body>

</html>