<!DOCTYPE html>
<html>

<head>
    <title>AskMate - New Question</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='writingpages.css') }}" />
</head>

<body>
    <h2> AskMate <br> Your Question:</h2>
    <form action="/new_question" method="POST">
        <div class='input_areas'>
            <input label='Question Title' id='styled_title' type="text" name="title" minlength="5" placeholder="Ask your question"></p>
            <textarea label='My Question' id='styled_textarea' name="new_question" placeholder="Specify your question" minlength="10"></textarea></p>
        </div>
        <p><input id='styled_ask_button' type="submit" value="Send Question"></p>
    </form>
</body>

</html>