<!DOCTYPE html>

<html>

<head>
    <title> My Comment </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='writingpages.css') }}" />
</head>

<body>
    <div class="answer-comment-title">
        <h2>AskMate Comments</h2>
    </div>
    <div class="answer-body">
        <h3> {{ answer }} </h3>
    </div>
    <form action="/answer/{{ answer_id }}/new-comment" method="POST">
        <div class='input_areas'>
            <textarea name="new_comment" id="styled_textarea" placeholder="Write your comments here"></textarea>
            <input type="submit" value="Add My Comment" id="styled_answer_button">
    </form>
</body>

</html>