<!doctype HTML>

<html>

<head>
    <title> My Comment </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='writingpages.css') }}" />
</head>

<body>
    <h2>AskMate Comments</h2>
    <h3> {{ question }} <br> {{ question_body }} </h3>
    <form action="/question/{{ question_id }}/new-comment" method="POST">
        <div class='input_areas'>
            <input label='Username Title' id='styled_title' type="text" name="username" minlength="5" placeholder="Username"></p>
            <textarea name="new_comment" id="styled_textarea" placeholder="Write your comments here"></textarea>
            <input type="submit" value="Add My Comment" id="styled_answer_button">
    </form>
</body>

</html>