<!DOCTYPE html>

<html>

<head>
    <title> AskMate </title>
</head>

<body>
    <h1> AskMate by G-nap </h1>
    <form action="/new_question" method='GET'>
        <input type="submit" value="Ask a question">
    </form>
    <br><br>
    <table>
        <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 16px sans-serif;
                width: 800px
            }
            
            td {
                border: 1px black solid;
                padding: 8px;
            }
        </style>

        <thead>
            <tr>
                <th> Questions </th>
                <th> </th>
            </tr>
        </thead>

        <tbody>

            {% for item in table %}
            <tr>
                <td>{{ item [3] }} </td>
                <td>
                    <form action="/question/{{ item[0] }}" method="GET">
                        <input type="submit" value="Answers">
                    </form>
            </tr>
            {% endfor %}

        </tbody>


    </table>
</body>

</html>