<!DOCTYPE html>

<html>

<head>
    <title> AskMate </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='list.css') }}">
</head>

<body>
    <h1> AskMate by G-nap </h1>
    <form action="/new_question" method='GET'>
        <input type="submit" value="Ask a question">
    </form>
    <br><br>
    <div class="table-title">
        <table>
            <thead class="table-head" id="table-head">
                <tr>
                    <th> Questions </th>
                    <th> </th>
                </tr>
            </thead>

            <tbody class="table-list" id="table-list">

                {% for item in table %}
                <tr>
                    <td>{{ item [4] }} </td>
                    <td>
                        <form action="/question/{{ item[0] }}" method="POST">
                            <input type="submit" value="Answers">
                        </form>
                </tr>
                {% endfor %}

            </tbody>


        </table>
    </div>
</body>

</html>