<!doctype HTML>

<html>

<head>
    <title> AskMate Question comments </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='comment.css') }}">
</head>

<body>
    <div class="question-title">
        <h3> AskMate Question comments </h3>
    </div>
    <br>
    <div class="question-with-id">
        <h4> {{ question }} </h4>
        <h4> {{ question_body }} </h4>
    </div>
    <br>

    <div class="table-fill">
        <table>
            <thead>
                <tr>
                    <th> Comments </th>
                    <th> Delete </th>
                </tr>
            </thead>
            <tbody>
                {% for item in comment %}
                <tr>
                    <td> {{ item[3] }} </td>
                    <td>
                        <a href="/question/{{ question_id }}/comments/{{ item[0] }}/delete">
                            <img src="https://cdn4.iconfinder.com/data/icons/linecon/512/delete-512.png" width="30" height="30">
                        </a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <form action='/question/{{ question_id }}/new-comment' , method="GET">
        <input id="styled_button" type="submit" value="Add a comment">
    </form>
    <p>
        <a href="/"><input id="styled_button" type="submit" value="Home"></a>
    </p>
</body>

</html>