<!DOCTYPE html>
<html>

<head>
    <title> Users </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='writingpages.css') }}">
</head>

<body>
    <div class="table-fill">
        <table>
            <thead class="table-head" id="table-head">
                <tr>
                    <th>Users name</th>
                    <th>Registered on</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for item in table %}
                <tr>
                    <td> <a href="/user/{{ item[2] }}">{{ item [0] }}</a> </td>
                    <td> <a href="/user/{{ item[2] }}">{{ item [1] }}</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>

</html>