<!DOCTYPE html>

<html>

<head>
    <title> User page </title>

</head>

<body>
    <h1> {{ user_name }} </h1>

    <table>
        <thead>
            <tr>
                <th> Asked questions </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ item[] }} </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th> Given answers </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ item[] }} </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th> Given comments </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ item[] }} </td>
            </tr>
        </tbody>
    </table>

</body>

</html>