<!DOCTYPE html>

<html>

<head>
    <title> User Page </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='list.css') }}">
</head>

<body>

    <h3>{{ item [0] }}</h3>

    <div class="table-fill">
        <table>
            <thead class="table-head" id="table-head">
                <tr>
                    <th>Asked questions</th>
                    <th>Given Answers</th>
                    <th>Given Comments</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for item in table %}
                <tr>
                    <td> {{ item [1] }} </td>
                    <td> {{ item [2] }} </td>
                    <td> {{ item [3] }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <a href="/"><input type="submit" value="Home"></a>
        </p>
</body>

</html>