<!doctype HTML>

<html>

<head>
    <title> My Answer </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='writingpages.css') }}" />
</head>

<body>
    <div class="answers-title">
        <h2>AskMate Answers</h2>
    </div>
    <div class="answers-with-id">
        <h4> {{ question }} </h4>
        <h4> {{ question_body }} </h4>
    </div>
    <form action="/question/{{ question_id }}/new-answer" method="POST">
        <div class='input_areas'>
            <input label='Username Title' id='styled_title' type="text" name="username" minlength="5" placeholder="Username"></p>
            <textarea name="new_answer" id="styled_textarea" placeholder="Write your answer here" minlength=10></textarea>
            <input type="submit" value="Send My Answer" id="styled_answer_button">
    </form>
</body>

</html>