<!doctype HTML>

<html>

<head>
    <title> My Answer </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='textareas.css') }}" />
</head>

<body>
    <h2>AskMate<br>Answers</h2>
    <h3> {{ question }} <br> {{ question_body }} </h3>
    <form action="/question/{{ question_id }}/new-answer" method="POST">
        <div class='input_areas'>
            <textarea name="new_answer" id="styled_textarea" placeholder="Write your answer here"></textarea>
            <input type="submit" value="Send My Answer" id="styled_answer_button">
    </form>
</body>

</html>