<!doctype HTML>

<html>

<head>
    <title> My Answer </title>
    <link rel='stylesheet' type='text/css' href="{{ url for ('static', filename='textareas.css') }}">
</head>

<body>
    <h2> AskMate Answers </h2>
    <br>
    <form action="/question/{{ question_id }}/new-answer" method="POST">
        <p><label> Write your answer here </label></p>
        <p><textarea name="new_answer" id="styled_answer"></textarea></p>
        <br>
        <p><input type="submit" value="Send My Answer"></p>
    </form>
</body>

</html>